input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select {
  width: 400px;
}

label {
  margin-top: 1rem;
}

label.checkbox {
  font-weight: normal;
}

button[type="submit"] {
  margin-top: 1rem;
}
.center {
  margin: 0 auto;
}
.text-input {
  width: 100%;
}
@media (max-width: 660px){
    .text-input {
      width: 300px;
    }
}
@media (max-width: 450px){
    .center {
      padding-left: 10px;
      padding-right: 10px;
    }
}