.service {
  &__items {
  }
  &__item {
    text-align: center;
    margin-right: 20px;
    flex-direction: column;
    padding: 10px;
    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    & i {
      font-size: 40px;
      align-self: center;
      margin-bottom: 50px;
      color: rgb(173, 173, 67);
    }
    &:last-child {
      margin-right: 0;
    }
    &-title {
      margin: 0 auto;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
    }
    &-text {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      opacity: 0.6;
    }
  }
}

@media (max-width: 900px){
  .service__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px){
  .service__items {
    grid-template-columns: 1fr;
  }
}