$colorWhite: white;
.weather {
    width: 100%;
    background-image: url("../../img/weather.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $colorWhite;
}
.dgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 100px 20px 20px;
}
.weather-box {
    max-width: 50%;
    & button {
        cursor: pointer;
    }
}
.box-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    & label {
        font-size: 18px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    & input {
        flex: 1;
        padding: 5px;
        border-radius: 5px;
        background: #444;
        color: $colorWhite;
    }
    &__city {
        width: 100%;
    }
    &__country {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .dgrid {
        grid-template-columns: 1fr;
        
    }
    .weather-box {
        max-width: 90%;
        & data__container {
            text-align: center;
            justify-content: center;
            align-self: center;
            margin: 0 auto;
        }
    }
}
