$colorWhite: white;
.header{
  width: 100vw;
  height: 100vh;
  background: url("../../img/banner.jpg") no-repeat center center, rgba(0,0,0, 0.3);
  background-size: cover;
  color: $colorWhite;
}
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  &__logo {
    font-size: 35px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: $colorWhite;
  }
  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin-right: 50px;
    & a {
      color: $colorWhite;
    }
  }
}
.nav__fixed {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  padding: 5px 0;
  background: rgb(80, 80, 231);
  animation-name: show__nav;
  animation-duration: 1s;
  align-items: center;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.52);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.52);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.52);
}
@keyframes show__nav {
  0% {
    opacity: 0;
    top: -60px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.banner {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.header {
  &__title {
    font-weight: bold;
    font-size: 65px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 160%;
    opacity: 0.6;
    margin-bottom: 40px;
  }
}
.t-center {
  align-items: center;
}
.btn {
  margin-bottom: 0;
}

@media (max-width: 1140px){
  .navbar__items {
    display: none;
  }
  .navbar__btn {
    display: none;
  }

  .navbar ul,
  .navbar button {
    display: none;
  }
  .header__title {
    max-width: 90%;
  }
}
@media (max-width: 600px){
  .header__title {
    font-size: 40px;
  }
  .navbar__logo {
    display: none;
    
  }
  .navbar {
    height: 52px;
  }
}