$colorMain:#000;
.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.footer {
    padding-bottom: 25px;
    &__box {
        & a {
            display: block;
            color: $colorMain;
            font-size: 16px;
            line-height: 150%;
            margin-right: 20px;
            letter-spacing: 0.06em;
            &:hover, 
            &:active {
                opacity: 0.6;
            }
        }
    }
    &__title {
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        margin: 0 0 40px 0;
        text-transform: uppercase;
        
    }
    & .wrapper {
        max-width: 643px;
        margin: 0 auto;
    }
}
.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & i {
        display: block;
        font-size: 30px;
        color: $colorMain;
        &:hover, &:active {
            opacity: 0.6;
        }
    }
}
@media (max-width: 660px){
    .footer__container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .socials {
        justify-content: center;
    }
}