.box-image__container {
  margin-bottom: 0!important;
}
.blog {
  padding: 140px 0 0;
  & a {
    display: block;
    margin: 0px 32px 0px 0px;
    max-width: 50%;
    &:hover,
    &:active {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 100px;
    & a > .blog__box{
      display: flex;
    }
    & a:first-child {
      grid-row-start: 1;
      grid-row-end: 4;
      max-width: 100%;
    }
    & a:not(:first-child) {
      max-width: 100%;
      & .box__item {
        display: flex;
      }
      & .card__img {
        height: 200px;
        width: 50%;
        margin-right: 15px;
      }
    }
  }
}
.wrapper > .title,
.wrapper > .text {
  text-align: center;
}
.container {
  align-items: flex-start;
}
.box {
  & a {
    display: block;
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    margin-bottom: 10px;
    &:hover,
    &:active {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }
  & img {
    align-items: flex-start;
  }
  &__title {
    font-size: 20px;
    line-height: 160%;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 10px;
  }
  &__label {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
  }
  &__item {
    
    & img {
    }
    &-info {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

@media (max-width: 1000px){
  .blog__box {
    grid-template-columns: 1fr;
    & a:first-child {
      .box-image__container {
        width: 50%;
        margin-right: 15px;
        height: auto;
      }
      .box__item {
        display: flex;
      }
    }
  }
}
@media (max-width: 600px){
  .box__item {
    display: flex;
    flex-direction: column;
  }
  .blog__box {
    & a:first-child {
      .box-image__container {
        height: 200px;
        width: 100%;
      }
    }
  }
  .blog__box {
    a:not(:first-child) {
      .box-image__container {
        height: 200px;
        width: 100%;
      }
    }
  }
}