$colorComments: #555555;
.comments {
    padding-top: 100px;
    &__slider {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        width: 100%;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        &-image {
            position: relative;
            height: 330px;
            width: 50%;
            & img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &-title {
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 22px;
        }
        &-text {
            font-size: 30px;
            line-height: 36px;
            opacity: 0.6;
        }
        &-box {
            text-align: center;
            max-width: 50%;
            color: $colorComments;
            padding: 15px;
            & i {
                font-size: 30px;
            }
        }
    }
    &__image {
        width: 100%;
    }
}
.slide-active {
    opacity: 1;
    animation-name: showSlide;
    animation-duration: 1.4s;
}
@keyframes showSlide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.arrow {
    display: grid;
    place-items: center;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
@media (max-width: 1000px){
    .comments__slide-text {
        font-size: 16px;
        line-height: 17px;
    }
    .comments__slide-image {
        height: 200px;
    }
}
@media (max-width: 720px){
    .comments__slide-image {
        height: 150px;
    }
}
@media (max-width: 550px){
    .comments__slide-box i {
        font-size: 24px;
    }
    .comments__slide-title {
        font-size: 12px;
        line-height: 16px;
    }
    .comments__slide-text {
        font-size: 12px;
        line-height: 14px;
    }
}